/* Home section styling */

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
}

.product-container p,
h2,
h3 {
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
}

.product-container p {
    font-size: 17px;
}

.buy-now-btn {
    padding: 20px 50px;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    background-color: gray;
}

/* Customer Review */
.customer-review {
    margin-top: 50px;
}

.customer-review button {
    width: 500px;
    margin: 20px auto;
    display: block;
    padding: 20px 100px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bolder;
    border: none;
    background-color: darkblue;
    cursor: pointer;
}

.review-title {
    text-align: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .customer-review button {
        width: 100%;
    }
}

/* Extra small devices (phones, 950px and down) */
@media only screen and (max-width: 950px) {
    .product-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}